/* Lets define our CSS variables, reset CSS box model properties, set CSS for Body */

:root {
    /* warm yellow */
    --primary-color: #FFD84D;

    /* sky blue */
    --secondary-color: #87CEEB;

    --accent1-color: #1F2937;
    --accent2-color: #10B981;
    --heading-font: 'Poppins',
        sans-serif;

    --body-font: 'Inter',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/*End - CSS Variables */

/* combined Header, Main, footer styling */

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 18px;
}

.socials a {
    text-decoration: none;
}

/* End - Header, Main, footer styling */

/* Style the Hero */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    top: 320px;
    /* width: 100%;
    height: auto; */
    background-color: var(--secondary-color);
    color: black;
}

article p {
    margin: 0px;
    padding: 18px;
}

.hero article img {
    float: right;
    width: 125px;
    height: 150px;
    margin: 10px;

}

/* END - Style the Hero */

/* Style the Footer */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--accent1-color);
    justify-content: center;
}

footer p {
    margin: 5px;
    padding: 0;
}

footer nav {
    margin: 5px;
    padding: 0;
}

.socials {
    margin-left: auto;
}

.socials a {
    gap: 2rem;
}

.socials a img {
    width: 25px;
    gap: 1rem;
}