/* Lets define our CSS variables, reset CSS box model properties, set CSS for Body */

:root {
    /* warm yellow */
    --primary-color: #10B981;

    /* sky blue */
    --secondary-color: #87CEEB;

    --accent1-color: #1F2937;
    --accent2-color: #FFD84D;
    --accent3-color: #fff;
    --heading-font: 'Poppins',
        sans-serif;

    --body-font: 'Inter',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/*End - CSS Variables */

/* combined Header, Main, footer styling */

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
section,
article {
    margin: 16px;
    padding: 18px;
}

header {
    margin: 1rem auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    border-bottom: 0.5px solid var(--accent2-color);
    max-width: 1000px;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
}

header img {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 80px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    display: inline-block;
    width: 120px;

    padding: 0.75rem 0;
    text-align: center;

    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

header nav a:hover {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.active {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

/* End - Header, Main, footer styling */

/* Style the Hero */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    border-bottom: 0.5px solid var(--accent2-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 230px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    justify-content: center;
}

.hero article p {
    margin: 0px;
    padding: 18px;
}

.hero article img {
    float: right;
    width: 125px;
    height: 150px;
    margin: 10px;
    box-shadow: 20px 15px 30px var(--accent2-color);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    color: var(--accent1-color);
}

/* H2 spans all columns and centers content */
section h2 {
    background-color: var(--secondary-color);
    padding: 0.75rem;
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 10px;
    color: var(--accent1-color);
    opacity: 0.7;
}

/* First paragraph in the left column */
section p:first-of-type {
    grid-column: 1 / 2;
}

/* Image in the middle column */
section img {
    grid-column: 2 / 3;
    justify-self: center;
    max-width: 300px;
    height: 300px;

}

/* Second paragraph in the right column */
section p:last-of-type {
    grid-column: 3 / 4;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 0.5rem;
    align-items: start;
}

.adventure h2 {
    background-color: var(--secondary-color);
    padding: 0.75rem;
    grid-column: 1/-1;
    margin-bottom: 10px;
    color: var(--accent1-color);
}

.adventure figure {
    text-align: center;
}

.adventure figure img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

/* END - Style the Hero */

/* Style the Footer */

footer {
    width: 100%;
    display: flex;
    border-top: 2px solid var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 0.5rem 2rem;
}

footer p {
    margin: 5px;
    padding: 0;
    color: var(--secondary-color);
    opacity: 0.7;
    text-align: center;
    justify-content: center;
}

footer nav {
    margin: 5px;
    padding: 0px;
}

.socialmedia {
    margin-left: auto;
    display: flex;
    column-gap: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
    gap: 2rem;
}

.socialmedia a img {
    width: 25px;
    gap: 1rem;
}