* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
    background-color: silver;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.5rem;
}

nav {
    width: 100%;
    padding: 1rem;
    background-color: steelblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: crimson;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: fff;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    margin: 10px;
    text-align: center;
    color: #222;
    border-bottom: 1px solid #222;
}

main img {
    width: 150px;
    height: auto;
    border: 0px solid #222;
    padding: 0px;
    box-shadow: 20px 15px 30px #333;

}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    border-bottom: 1px solid #222;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    font-size: .9rem;
    margin-top: 20px;
    border-top: 2px solid red;
    text-align: center;
}