* {
    margin: 0;
    border: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.5rem;
}

nav {
    width: 100%;
    padding: 5px;
    background-color: #222;
}

nav a {
    color: crimson;
    padding: 5px;
    display: block;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: centers;
    color: #222;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 20px 15px 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: azure;
    font-size: .9rem;
}

p {
    margin: 0;
    padding: 0;
}

/* ul {
    margin: 10px 10px;
} */

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 0px solid #222;
    padding: 0px;
    box-shadow: 20px 15px 30px #333;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 0;
    background-color: 1rem;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    font-size: .9rem;
    margin-top: 20px;
    border-top: 2px solid red;
    text-align: center;
}